################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session1/EFCoreAssignment/obj/project.nuget.cache
/Session1/EFCoreAssignment/obj/EFCoreAssignment.csproj.nuget.dgspec.json
/Session1/EFCoreAssignment/obj/Debug/net6.0/EFCoreAssignment.pdb
/Session1/EFCoreAssignment/obj/Debug/net6.0/EFCoreAssignment.genruntimeconfig.cache
/Session1/EFCoreAssignment/obj/Debug/net6.0/EFCoreAssignment.GeneratedMSBuildEditorConfig.editorconfig
/Session1/EFCoreAssignment/obj/Debug/net6.0/EFCoreAssignment.dll
/Session1/EFCoreAssignment/obj/Debug/net6.0/EFCoreAssignment.csproj.FileListAbsolute.txt
/Session1/EFCoreAssignment/obj/Debug/net6.0/EFCoreAssignment.assets.cache
/Session1/EFCoreAssignment/bin/Debug/net6.0/EFCoreAssignment.dll
/Session1/EFCoreAssignment/bin/Debug/net6.0/EFCoreAssignment.pdb
/Session1/.vs/EFCoreAssignment/v17/.suo
*.vsidx
/Session1/.vs/EFCoreAssignment/DesignTimeBuild/.dtbcache.v2
/Session1/EFCoreAssignment/obj/Debug/net6.0/ref/EFCoreAssignment.dll
/Session1/EFCoreAssignment/obj/Debug/net6.0/refint/EFCoreAssignment.dll
/Session1/.vs/ProjectEvaluation/efcoreassignment.projects.v6.1
/Session1/.vs/ProjectEvaluation/efcoreassignment.metadata.v6.1
/Session1/.vs/EFCoreAssignment/v17/.futdcache.v2
/Session1/.vs/EFCoreAssignment/FileContentIndex/d9343d42-f69d-4227-95f6-8235b584fa81.vsidx
/Session1/.vs/EFCoreAssignment/FileContentIndex/0dc87884-0843-4761-9caf-e087f44e3ee2.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Session1/EFCoreAssignment/obj/Release/net6.0/EFCoreAssignment.GeneratedMSBuildEditorConfig.editorconfig
/Session1/EFCoreAssignment/obj/Release/net6.0/EFCoreAssignment.csproj.AssemblyReference.cache
*.cache
*.config
*.v2
*.lock
*.suo
*.1
*.dll
/Session3/EFCoreAssignment.API/bin/Debug/net6.0
/Session3/EFCoreAssignment.API/obj/Debug/net6.0/staticwebassets
/Session3/EFCoreAssignment.API/obj/Debug/net6.0
/Session3/EFCoreAssignment.API/obj/Release/net6.0
/Session3/EFCoreAssignment.API/obj
/Session1/EFCoreAssignment/obj/Release/net6.0/EFCoreAssignment.GeneratedMSBuildEditorConfig.editorconfig
/Session1/EFCoreAssignment/obj/Release/net6.0/EFCoreAssignment.csproj.AssemblyReference.cache
/Session3/EFCoreAssignment.Data/bin/Debug/net6.0
/Session3/EFCoreAssignment.Data/obj/Debug/net6.0
/Session3/EFCoreAssignment.Data/obj/Release/net6.0
/Session3/EFCoreAssignment.Data/obj
/Session3/EFCoreAssignment.Services/bin/Debug/net6.0
/Session3/EFCoreAssignment.Services/obj/Debug/net6.0
/Session3/EFCoreAssignment.Services/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/EFCoreMasters/v17/.wsuo
/Session4/InventoryAppEFCore.API/bin/Debug/net6.0
/Session4/InventoryAppEFCore.API/obj/Debug/net6.0/staticwebassets
/Session4/InventoryAppEFCore.API/obj/Debug/net6.0
/Session4/InventoryAppEFCore.API/obj
/Session4/InventoryAppEFCore.DataLayer/bin/Debug/net6.0
/Session4/InventoryAppEFCore.DataLayer/obj/Debug/net6.0
/Session4/InventoryAppEFCore.DataLayer/obj
/Session5/API/bin/Debug/net6.0
/Session5/API/obj/Debug/net6.0/staticwebassets
/Session5/API/obj/Debug/net6.0
/Session5/API/obj
/Session5/DataLayer/bin/Debug/net5.0
/Session5/DataLayer/bin/Debug/net6.0
/Session5/DataLayer/obj/Debug/net5.0
/Session5/DataLayer/obj/Debug/net6.0
/Session5/DataLayer/obj/Release/net5.0
/Session5/DataLayer/obj
